@charset "UTF-8";

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100%;
    width: 100%;
    background-color: rgb(88, 122, 236);
}
h1{
    color: white;
    text-align: center;
    margin: 30px;
}
section{
     background-color: white;
     width: 500px;
     border-radius: 20px;
     padding: 20px;
     margin: auto;
}
input{
    padding: 3px;
    border-radius: 5px;
}
#res{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
}
#res div{
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(174, 109, 235);
    font-weight: bold;
    text-align: center;
}
#btn:hover{
    cursor: pointer;
}
footer{
    color: white;
    text-align: center;
    margin: 20px;
}
@media screen and (max-width: 430px){
    section{
        width: 90%;
    }
    #caixa{
        display: flex;
        width: 100%;
        flex-flow: row wrap;
        gap: 10px;
    }
}